<!-- ko if: tipOptions().length -->
<div class="ls-hospitality-tips" data-bind="visible: isPaymentStep">
    <label class="ls-tips-label">Tip</label>

    <div class="ls-tips-options">
        <!-- ko foreach: tipOptions -->
        <button
                type="button"
                class="ls-tip-option"
                data-bind="
                text: label,
                click: function () { $parent.selected(value); },
                css: { active: $parent.isOptionActive($data) },
                disable: $parent.isOptionDisabled($data)">
        </button>
        <!-- /ko -->
    </div>

    <div class="ls-tip-other" data-bind="visible: selected() === 'other'">
        <input type="text"
               placeholder="Enter amount"
               data-bind="value: customValue, valueUpdate: 'keyup'" />
    </div>
</div>
<!-- /ko -->