<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ls_mag>
            <ls_industry>
                <ls_choose_industry>hospitality</ls_choose_industry>
            </ls_industry>
            <replication>
                <item_modifier_batch_size>200</item_modifier_batch_size>
                <item_recipe_batch_size>200</item_recipe_batch_size>
            </replication>
            <hospitality>
                <service_mode_status>0</service_mode_status>
                <service_mode_options>Dine-in,Takeaway</service_mode_options>
                <order_tracking>1</order_tracking>
                <delivery_salas_type>POS</delivery_salas_type>
                <takeaway_sales_type>POS</takeaway_sales_type>
                <pickup_date_time_slot>1</pickup_date_time_slot>
                <pickup_time_interval>30</pickup_time_interval>
            </hospitality>
        </ls_mag>
    </default>
</config>
