<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ls_mag>
            <ls_industry>
                <ls_choose_industry>hospitality</ls_choose_industry>
            </ls_industry>
            <replication>
                <item_modifier_batch_size>200</item_modifier_batch_size>
            </replication>
        </ls_mag>
    </default>
</config>
