<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Replication API Repository Interfaces-->
    <preference for="Ls\Replication\Api\ReplHierarchyHospDealRepositoryInterface"
                type="Ls\Replication\Model\ReplHierarchyHospDealRepository"/>
    <preference for="Ls\Replication\Api\ReplHierarchyHospDealLineRepositoryInterface"
                type="Ls\Replication\Model\ReplHierarchyHospDealLineRepository"/>
    <preference for="Ls\Replication\Api\ReplItemRecipeRepositoryInterface"
                type="Ls\Replication\Model\ReplItemRecipeRepository"/>
    <preference for="Ls\Replication\Api\ReplItemModifierRepositoryInterface"
                type="Ls\Replication\Model\ReplItemModifierRepository"/>

    <!--Replication API Data Interfaces-->
    <preference for="Ls\Replication\Api\Data\ReplHierarchyHospDealInterface"
                type="Ls\Replication\Model\ReplHierarchyHospDeal"/>
    <preference for="Ls\Replication\Api\Data\ReplHierarchyHospDealLineInterface"
                type="Ls\Replication\Model\ReplHierarchyHospDealLine"/>
    <preference for="Ls\Replication\Api\Data\ReplItemRecipeInterface"
                type="Ls\Replication\Model\ReplItemRecipe"/>
    <preference for="Ls\Replication\Api\Data\ReplItemModifierInterface"
                type="Ls\Replication\Model\ReplItemModifier"/>

    <!--Replication API Search Results Interfaces-->
    <preference for="Ls\Replication\Api\Data\ReplHierarchyHospDealLineSearchResultsInterface"
                type="Ls\Replication\Model\ReplHierarchyHospDealLineSearchResults"/>
    <preference for="Ls\Replication\Api\Data\ReplHierarchyHospDealSearchResultsInterface"
                type="Ls\Replication\Model\ReplHierarchyHospDealSearchResults"/>
    <preference for="Ls\Replication\Api\Data\ReplItemRecipeSearchResultsInterface"
                type="Ls\Replication\Model\ReplItemRecipeSearchResults"/>
    <preference for="Ls\Replication\Api\Data\ReplItemModifierSearchResultsInterface"
                type="Ls\Replication\Model\ReplItemModifierSearchResults"/>

    <!-- For Collection to be used in the UI Component -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ls_repl_grids_deals_data_source" xsi:type="string">
                    Ls\Replication\Model\ResourceModel\ReplHierarchyHospDeal\Grid\Collection
                </item>
                <item name="ls_repl_grids_dealline_data_source" xsi:type="string">
                    Ls\Replication\Model\ResourceModel\ReplHierarchyHospDealLine\Grid\Collection
                </item>
                <item name="ls_repl_grids_recipe_data_source" xsi:type="string">
                    Ls\Replication\Model\ResourceModel\ReplItemRecipe\Grid\Collection
                </item>
                <item name="ls_repl_grids_modifier_data_source" xsi:type="string">
                    Ls\Replication\Model\ResourceModel\ReplItemModifier\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <!-- To add hospitality cron jobs in the admin grid. -->
    <type name="Ls\Replication\Ui\DataProvider\CronsProvider">
        <plugin name="ls_hospitaity_add_crons_grid"
                type="Ls\Hospitality\Plugin\Ui\DataProvider\CronsProviderPlugin"/>
    </type>
    <!-- To override basket helper from core -->
    <type name="Ls\Omni\Helper\BasketHelper">
        <plugin name="ls_hospitaity_omni_baskethelper"
                type="Ls\Hospitality\Plugin\Omni\Helper\BasketHelperPlugin"/>
    </type>
    <!-- To override item helper from core -->
    <type name="Ls\Omni\Helper\ItemHelper">
        <plugin name="ls_hospitaity_omni_itemhelper"
                type="Ls\Hospitality\Plugin\Omni\Helper\ItemHelperPlugin"/>
    </type>
    <!-- To override order helper from core -->
    <type name="Ls\Omni\Helper\OrderHelper">
        <plugin name="ls_hospitaity_omni_orderhelper"
                type="Ls\Hospitality\Plugin\Omni\Helper\OrderHelperPlugin"/>
    </type>
    <!-- For Service Mode -->
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="ls_hospitality_saveServiceModeToQuote"
                type="Ls\Hospitality\Plugin\Checkout\Model\ShippingInformationManagement"/>
    </type>

    <!-- To return ls_modifier_recipe_id in the options data. -->
    <type name="Magento\Catalog\Helper\Product\Configuration">
        <plugin name="ls_hospitality_return_ls_modifier_recipe_id"
                type="Ls\Hospitality\Plugin\Catalog\Helper\Product\ConfigurationPlugin"/>
    </type>

    <!-- To get merged collection for images to process -->
    <type name="Ls\Replication\Cron\SyncImages">
        <plugin name="ls_hospitality_change_query"
                type="Ls\Hospitality\Plugin\Cron\SyncImagesPlugin"/>
    </type>
    <!-- To filter out click and collect stores data based on sales type -->
    <type name="Ls\Omni\Model\Checkout\DataProvider">
        <plugin name="ls_hospitaity_omni_model_checkout_dataprovider"
                type="Ls\Hospitality\Plugin\Omni\Model\Checkout\DataProviderPlugin"/>
    </type>
</config>
