<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- For service mode extension attribute -->
    <event name="sales_model_service_quote_submit_before">
        <observer name="ls_hospitality_extension_attributes_from_quote_to_order" instance="Ls\Hospitality\Observer\DataAssignObserver"/>
    </event>
</config>
