<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote">
        <plugin name="save_quote_as_virtual"
                type="Ls\Hospitality\Plugin\Quote\Model\QuotePlugin"/>
    </type>
    <type name="Ls\Omni\Observer\OrderObserver">
        <plugin name="ls_hospitality_order_observer" type="Ls\Hospitality\Plugin\Omni\Observer\OrderObserverPlugin" sortOrder="100"/>
    </type>
</config>
