<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!-- For Service Mode  -->
                <item name="service_mode_config_provider" xsi:type="object">Ls\Hospitality\Model\Checkout\DataProvider
                </item>
            </argument>
        </arguments>
    </type>

    <!-- For Service Mode  -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="hosp_checkout_layout_processor" type="Ls\Hospitality\Plugin\Checkout\Model\LayoutProcessorPlugin"
                sortOrder="1"/>
    </type>

    <!-- For showing kitchen status block on order success page -->
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="ls_hospitality_checkout_controller_onepage_success" type="Ls\Hospitality\Plugin\Order\Success"/>
    </type>

    <!-- For Updating the title in hospitality order view  -->
    <preference for="Ls\Customer\Block\Order\Info" type="Ls\Hospitality\Block\Order\Info"/>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="hospitality" xsi:type="array">
                    <item name="class" xsi:type="string">Ls\Hospitality\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">40</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
