<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!-- For Service Mode  -->
                <item name="service_mode_config_provider" xsi:type="object">Ls\Hospitality\Model\Checkout\DataProvider
                </item>
            </argument>
        </arguments>
    </type>

    <!-- For Service Mode  -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="hosp_checkout_layout_processor" type="Ls\Hospitality\Plugin\Checkout\Model\LayoutProcessorPlugin" sortOrder="1"/>
    </type>
</config>
