& when (@media-common = true) {
    .checkout-index-index {
        .ls-additional-shipping-option-wrapper {
            margin-bottom: 20px;
            width: 50%;
        }

        ._error {
            .order-comment-input {
                outline: none;
                border: 2px solid @checkout-field-validation__border-color;

                &:focus {
                    outline: none;
                    border: 2px solid @checkout-field-validation__border-color;
                    box-shadow: 0 0 3px @checkout-field-validation__border-color;
                }
            }
        }

        .checkout-payment-method {
            .payment-option._collapsible.comment {
                .payment-option-content {
                    display: block;
                }
            }
        }
    }

    .checkout-onepage-success {
        .ls-kitchen-order-status {
            margin-top: 20px;

            .block-title {
                border-bottom: 1px solid #c6c6c6;
                margin-bottom: 25px;
                padding-bottom: 10px;

                strong {
                    font-size: 2.2rem;
                    font-weight: 300;
                }
            }
        }
    }
}
