& when (@media-common = true) {
    .checkout-index-index {
        .ls-additional-shipping-option-wrapper {
            margin-bottom: 20px;
            width: 50%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .checkout-index-index {
        .ls-additional-shipping-option-wrapper {
            width: 100%;
        }
    }
}
