<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ls\OmniGraphQl\Helper\DataHelper">
        <plugin name="custom_omni_graphql_data_helper" type="Ls\Hospitality\Plugin\OmniGraphQl\Helper\DataHelperPlugin"/>
    </type>
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData">
                <item name="ls_mag_hospitality_service_mode_status" xsi:type="string">ls_mag/hospitality/service_mode_status</item>
                <item name="ls_mag_hospitality_service_mode_options" xsi:type="string">ls_mag/hospitality/service_mode_options</item>
                <item name="ls_mag_hospitality_order_tracking" xsi:type="string">ls_mag/hospitality/order_tracking</item>
                <item name="ls_mag_hospitality_takeaway_sales_type" xsi:type="string">ls_mag/hospitality/takeaway_sales_type</item>
                <item name="ls_mag_hospitality_delivery_salas_type" xsi:type="string">ls_mag/hospitality/delivery_salas_type</item>
                <item name="ls_mag_hospitality_show_in_checkout" xsi:type="string">ls_mag/hospitality/show_in_checkout</item>
                <item name="ls_mag_hospitality_max_length" xsi:type="string">ls_mag/hospitality/max_length</item>
                <item name="ls_mag_hospitality_collapse_state" xsi:type="string">ls_mag/hospitality/collapse_state</item>
                <item name="ls_mag_hospitality_content_block" xsi:type="string">ls_mag/hospitality/content_block</item>
                <item name="ls_mag_hospitality_anonymous_order_enabled" xsi:type="string">ls_mag/hospitality/anonymous_order_enabled</item>
                <item name="ls_mag_hospitality_anonymous_order_email_address_enabled" xsi:type="string">ls_mag/hospitality/anonymous_order_email_address_enabled</item>
                <item name="ls_mag_hospitality_anonymous_order_address_attributes_required" xsi:type="string">ls_mag/hospitality/anonymous_order_address_attributes_required</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\CreateEmptyCart">
        <plugin name="anonymous_order_prefill_address" type="Ls\Hospitality\Plugin\Model\Resolver\CreateEmptyCartPlugin"/>
    </type>
</config>
