<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplHierarchyHospDeal\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_hierarchy_hosp_deal</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplHierarchyHospDeal
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Ls\Replication\Model\ResourceModel\ReplHierarchyHospDealLine\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_hierarchy_hosp_deal_line</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplHierarchyHospDealLine
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Ls\Replication\Model\ResourceModel\ReplItemRecipe\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_item_recipe</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplItemRecipe
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Ls\Replication\Model\ResourceModel\ReplItemModifier\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_item_modifier</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplItemModifier
            </argument>
        </arguments>
    </virtualType>
    <!-- For single store mode -->
    <type name="Ls\Core\Model\Config\Backend\SingleStoreMode">
        <plugin name="ls_omni_system_config_form_field"
                type="Ls\Hospitality\Plugin\Config\Backend\SingleStoreModePlugin" sortOrder="1"/>
    </type>
    <!-- for showing comments in admin -->
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="ls_ordercomment_show_comment" type="Ls\Hospitality\Plugin\Block\Adminhtml\SalesOrderViewInfo" sortOrder="1" />
    </type>
</config>
