<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ls_Hospitality::deals_grid" title="Deals" translate="title" module="Ls_Hospitality" sortOrder="15"
             resource="Ls_Hospitality::deals_grid" parent="Ls_Replication::replication_grid_group"
             action="ls_repl/grids/deals"/>

        <add id="Ls_Hospitality::deal_line_grid" title="Deal Line" translate="title" module="Ls_Hospitality"
             sortOrder="15"
             resource="Ls_Hospitality::deal_line_grid" parent="Ls_Replication::replication_grid_group"
             action="ls_repl/grids/dealline"/>

        <add id="Ls_Hospitality::recipe" title="Recipe" translate="title" module="Ls_Hospitality" sortOrder="15"
             resource="Ls_Hospitality::recipe" parent="Ls_Replication::replication_grid_group"
             action="ls_repl/grids/recipe"/>
    </menu>
</config>
