<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Ls_Hospitality::replication_grid_group" title="Hospitality Grids" translate="title"
             module="Ls_Hospitality"
             sortOrder="21" parent="Ls_Replication::ls_retail" resource="Ls_Replication::replication_grid_group"/>

        <add id="Ls_Hospitality::deals_grid" title="Deals" translate="title" module="Ls_Hospitality" sortOrder="15"
             resource="Ls_Hospitality::deals_grid" parent="Ls_Hospitality::replication_grid_group"
             action="ls_repl/grids/deals"/>

        <add id="Ls_Hospitality::deal_line_grid" title="Deal Line" translate="title" module="Ls_Hospitality"
             sortOrder="20"
             resource="Ls_Hospitality::deal_line_grid" parent="Ls_Hospitality::replication_grid_group"
             action="ls_repl/grids/dealline"/>

        <add id="Ls_Hospitality::recipe" title="Recipe" translate="title" module="Ls_Hospitality" sortOrder="25"
             resource="Ls_Hospitality::recipe" parent="Ls_Hospitality::replication_grid_group"
             action="ls_repl/grids/recipe"/>

        <add id="Ls_Hospitality::modifier" title="Item Modifiers" translate="title" module="Ls_Hospitality"
             sortOrder="30"
             resource="Ls_Hospitality::modifier" parent="Ls_Hospitality::replication_grid_group"
             action="ls_repl/grids/modifier"/>
    </menu>
</config>
