<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ls_mag">
            <tab>ls_retail</tab>
            <resource>Ls_Core::config</resource>
            <group id="hospitality" translate="label" type="text" sortOrder="100" showInWebsite="1">
                <label>Hospitality</label>
                <field id="service_mode_status" translate="label" type="select" sortOrder="1"
                       showInWebsite="1">
                    <label>Service Mode Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="service_mode_options" translate="label" type="text" sortOrder="2" showInWebsite="1">
                    <label>Service Mode Options</label>
                    <comment>Comma separated values for e.g Dine-In,Takeaway e.t.c</comment>
                </field>
                <field id="order_tracking" translate="label" type="select" sortOrder="3"
                       showInWebsite="1">
                    <label>Show Order Tracking and Status on Success Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delivery_salas_type" translate="label comment" type="select" sortOrder="4"
                       showInWebsite="1">
                    <label>Delivery Sales Type</label>
                    <validate>required-entry</validate>
                    <comment>For delivery orders</comment>
                    <source_model>Ls\Hospitality\Block\Adminhtml\System\Config\SalesType</source_model>
                </field>
                <field id="takeaway_sales_type" translate="label comment" type="select" sortOrder="5"
                       showInWebsite="1">
                    <label>Takeaway Sales Type</label>
                    <validate>required-entry</validate>
                    <comment>For click and collect orders</comment>
                    <source_model>Ls\Hospitality\Block\Adminhtml\System\Config\SalesType</source_model>
                </field>
            </group>
            <group id="replication" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <field id="item_modifier_batch_size" translate="label" type="text" sortOrder="2" showInDefault="40"
                       showInWebsite="0" showInStore="0">
                    <label>Item Modifiers Batch Size</label>
                    <comment>Select how much Modifiers you want to process in a single job</comment>
                </field>
                <field id="item_recipe_batch_size" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Item Recipe Batch Size</label>
                    <comment>Select how much Recipes you want to process in a single job</comment>
                </field>
            </group>
        </section>
    </system>
</config>
