<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ls_mag">
            <tab>ls_retail</tab>
            <resource>Ls_Core::config</resource>
            <group id="replication">
                <field id="item_modifier_batch_size"
                       translate="label"
                       type="text"
                       sortOrder="160"
                       showInDefault="40"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Item Modifiers Batch Size</label>
                    <comment>Select how many Modifiers you want to process in a single job</comment>
                </field>
                <field id="item_recipe_batch_size"
                       translate="label"
                       type="text"
                       sortOrder="170"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Item Recipe Batch Size</label>
                    <comment>Select how many Recipes you want to process in a single job</comment>
                </field>
            </group>
            <group id="hospitality"
                   translate="label"
                   type="text"
                   sortOrder="170"
                   showInWebsite="1"
                   showInDefault="0"
                   showInStore="1">
                <label>Hospitality</label>
                <depends>
                    <field id="ls_mag/ls_industry/ls_choose_industry">hospitality</field>
                    <field id="ls_mag/ls_enable/enabled">1</field>
                </depends>
                <field id="service_mode_status"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Service Mode Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="service_mode_options"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Service Mode Options</label>
                    <comment>Comma separated values for e.g. Dine-In,Takeaway e.t.c</comment>
                    <depends>
                        <field id="ls_mag/hospitality/service_mode_status">1</field>
                    </depends>
                </field>
                <field id="order_tracking"
                       translate="label"
                       type="select"
                       sortOrder="30"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Show Order Tracking and Status on Success Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delivery_salas_type"
                       translate="label comment"
                       type="select"
                       sortOrder="40"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Delivery Sales Type</label>
                    <validate>required-entry</validate>
                    <comment>For delivery orders</comment>
                    <depends>
                        <field id="ls_mag/ls_industry/ls_choose_industry">hospitality</field>
                    </depends>
                    <source_model>Ls\Hospitality\Block\Adminhtml\System\Config\SalesType</source_model>
                </field>
                <field id="takeaway_sales_type"
                       translate="label comment"
                       type="select"
                       sortOrder="50"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Takeaway Sales Type</label>
                    <validate>required-entry</validate>
                    <comment>For click and collect orders</comment>
                    <depends>
                        <field id="ls_mag/ls_industry/ls_choose_industry">hospitality</field>
                    </depends>
                    <source_model>Ls\Hospitality\Block\Adminhtml\System\Config\SalesType</source_model>
                </field>
                <field id="show_in_checkout"
                       sortOrder="60"
                       type="select"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Show in checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show order comments section in the checkout</comment>
                </field>
                <field id="dateandtime_range_validation_active"
                       translate="label"
                       type = "select"
                       sortOrder="70"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Enable Store Pick Up Date and Time Validation Before Order Creation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="graphql_dateandtime_range_validation_active"
                       translate="label"
                       type = "select"
                       sortOrder="80"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Enable Store Pick Up Date and Time Validation Before Order Creation via GraphQl</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_length"
                       translate="label"
                       type="text"
                       sortOrder="90"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Maximum length in characters</label>
                    <comment>Leave empty for no limit</comment>
                    <depends>
                        <field id="ls_mag/hospitality/show_in_checkout">1</field>
                    </depends>
                </field>
                <field id="collapse_state"
                       translate="label"
                       type="select"
                       sortOrder="100"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <label>Initial collapse state on checkout page</label>
                    <source_model>Ls\Hospitality\Model\Order\Config\Source\Collapse</source_model>
                    <depends>
                        <field id="ls_mag/hospitality/show_in_checkout">1</field>
                    </depends>
                </field>
                <field id="qr_order_enabled"
                       sortOrder="100"
                       type="select"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="1">
                    <label>Enable QR Code Ordering</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, customer will be able to scan QR code and sync relevant information related to Store name, table number, sales type e.tc. on placing order with Central</comment>
                </field>
                <field id="qr_order_display_estimated_delivery_time"
                       translate="label"
                       sortOrder="105"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="1">
                    <label>Display estimated delivery time</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, estimated delivery time will be displayed.</comment>
                </field>
                <field id="qr_order_content_block"
                       translate="label"
                       type="select"
                       sortOrder="110"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <depends>
                        <field id="ls_mag/hospitality/qr_order_enabled">1</field>
                    </depends>
                    <label>Content Block for QR Code Ordering Page on classic frontend</label>
                    <source_model>Ls\Hospitality\Model\Config\Source\Block</source_model>
                </field>
                <field id="qr_order_content_block_pwa"
                       translate="label"
                       type="select"
                       sortOrder="120"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="0">
                    <depends>
                        <field id="ls_mag/hospitality/qr_order_enabled">1</field>
                    </depends>
                    <label>Content Block for QR Code Ordering Page on pwa frontend</label>
                    <source_model>Ls\Hospitality\Model\Config\Source\Block</source_model>
                </field>
                <field id="anonymous_order_enabled"
                       sortOrder="130"
                       type="select"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="1">
                    <label>Enable Anonymous Ordering</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, customer will be able to place only anonymous orders for current scope</comment>
                </field>
                <field id="anonymous_order_address_attributes_required"
                       translate="label"
                       sortOrder="140"
                       showInWebsite="1"
                       showInDefault="0"
                       showInStore="1">
                    <depends>
                        <field id="ls_mag/hospitality/anonymous_order_enabled">1</field>
                    </depends>
                    <label>Shipping and billing address attributes</label>
                    <frontend_model>Ls\Hospitality\Block\System\Backend\Config\AddressAttributes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>These address attributes are shown to the customer during placing an anonymous order. Attributes marked as required are mandatory on the checkout whereas others are optional.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
